//mainheader
#mainheader {
    .container {
        justify-content: center;
        display: block;
        text-align: center;
        margin: 0 auto;
        .container-nav1-2 {
            display: block;
            margin: 0 auto;
            text-align: center;
            .nav-1 {
                .flex {
                    justify-content: center;
                    font-size: 10px;
                    padding: 2rem 0;
                    text-align: center;
                    margin: 0 auto;
                }
                
            }
        }
        .container-nav3-4{
            display: block;
            margin-top: 2rem;
            .form-inline {
                text-align: center;
                margin: 0 auto;
                justify-content: center;
                margin-top: 2rem;
            }
        }
        .navbar {
            text-align: center;
            display: block;
        }
    }
}

//showcase
.grid {
    grid-template-columns: repeat(1, 1fr);

}

#showcase {
.flexbox-1 {
    grid-row: 1;
}
.flexbox-2 {
    grid-row: 2;
}
.flexbox-3 {
    grid-row: 3;
}

    .flexbox-1,
    .flexbox-2,
    .flexbox-3 {
        grid-column: 1;
    }
}

//panels
#panels {
    .container {
        .container-panels {
            display: block;
            .left-panel {
                width: 100%;
                display: block;
                margin: 0 auto;
                padding-bottom: 2rem;
            }
            .center-panel {
                width: 100%;
                display: block;
                margin: 0 auto;
            }
            .rigth-panel {
                width: 100%;
                display: block;
                margin: 0 auto; 
            }
        }
    }
}

//politics
#showcase-news {
    .container {
        .showcase-flex {
            display: block;
            img {
                width: 100%;
            }
        }
    }
}

//article
#article {
    .container {
        display: block;
    }
}

//advertise, about
#advertise {
    .container {
        .advertise-flex {
            display: block;
        }
    }
}

#about {
    .container {
        .about-flex {
            display: block;
        }
    }
}